################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MovieTicketBookingManagementSystem/FileContentIndex/21c3d81d-7306-4ede-83e1-47fa11d941e5.vsidx
/.vs/MovieTicketBookingManagementSystem/FileContentIndex/1ede362c-f817-4acf-8ae1-5e8ddfc73b29.vsidx
/.vs/MovieTicketBookingManagementSystem/FileContentIndex/430dd0e4-7663-46a3-871d-7cb219e043a2.vsidx
/.vs/MovieTicketBookingManagementSystem/FileContentIndex/b4b09820-8a0e-42ee-9742-092332243dfe.vsidx
/.vs/MovieTicketBookingManagementSystem/FileContentIndex/e0ecdfeb-213a-4ebe-ae76-f31398e6435e.vsidx
/.vs/MovieTicketBookingManagementSystem/FileContentIndex/fa1c37e0-7834-4008-8092-a9f40486c1a2.vsidx
