################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MovieTicketBookingManagementSystem/FileContentIndex/21c3d81d-7306-4ede-83e1-47fa11d941e5.vsidx
